@model Vendas.Models.TbProduto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TbProduto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdProduto" />
            <div class="form-group">
                <label asp-for="NomeProduto" class="control-label"></label>
                <input asp-for="NomeProduto" class="form-control" />
                <span asp-validation-for="NomeProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoProduto" class="control-label"></label>
                <input asp-for="DescricaoProduto" class="form-control" />
                <span asp-validation-for="DescricaoProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnidadeProduto" class="control-label"></label>
                <input asp-for="UnidadeProduto" class="form-control" />
                <span asp-validation-for="UnidadeProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoCompraProduto" class="control-label"></label>
                <input asp-for="PrecoCompraProduto" class="form-control" />
                <span asp-validation-for="PrecoCompraProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoVendaProduto" class="control-label"></label>
                <input asp-for="PrecoVendaProduto" class="form-control" />
                <span asp-validation-for="PrecoVendaProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstoqueProduto" class="control-label"></label>
                <input asp-for="EstoqueProduto" class="form-control" />
                <span asp-validation-for="EstoqueProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagemProduto" class="control-label"></label>
                <input asp-for="ImagemProduto" class="form-control" />
                <span asp-validation-for="ImagemProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
